@model RestaurantBackendWebsite.Models.ViewModels.MealIndexVM

@{
    ViewBag.Title = "修改餐點";
}

<h2>修改餐點</h2>


@using (Html.BeginForm("Edit", "Meals", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="mb-3">
            @Html.LabelFor(model => model.CategoryName, "類別", htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = " form-select" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

        </div>


        <div class="mb-3">
            <div class="form-check">
                @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input", id = "flexCheckDefault" })
                <label class="form-check-label" for="flexCheckDefault">上下架狀態</label>
            </div>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">餐點照片</label>
            <input class="form-control" type="file" name="myfile" id="formFile">
            @Html.ValidationMessage("myfile", "", new { @class = "text-danger" })
            <p class="mt-3">圖片檔案:@Model.MealsImage</p>
        </div>


        <div class="mb-3">
            <div class="text-end">
                <input type="submit" value="存檔" class="btn btn-primary" />
                @Html.ActionLink("回到餐點清單頁", "Index", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        // 在檔案選擇後更新文本框的值
        document.getElementById("formFile").addEventListener("change", function () {
            var fileName = this.files[0].name;
            document.getElementById("fileName").value = fileName;
        });
    </script>
}
